<launch>
  <machine name="tk1" address="zmypc" user="bobin" env-loader="/home/bobin/catkin_ws/src/duo3d_driver/cfg/ric_env.sh" default="false" />

  <node machine="tk1" name="duo3d" pkg="duo3d_driver" type="duo3d_driver" output="screen">
		<param name="frame_rate" value="60.0"/>
		<rosparam param="image_size">[320, 240]</rosparam>
		<param name="dense3d_license" value="OVMZU-ZHFE2-9K41K-NQL44-WX3DV"/>
		<param name="auto_exposure" value="true"/>
		<param name="vertical_flip" value="true"/>
		<param name="accel_range" value="3"/>
		<param name="gyro_range" value="3"/>
  		<remap from="/duo3d/imu/data_raw" to="/imu/data_raw" />
    </node>
   	<node machine="tk1" pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node">
	    <param name="gain" value="0.05" />
        <param name="use_mag" value="false" />
        <param name="fixed_frame" value="/base_link" />
	</node>
	<!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find duo3d_driver)/launch/rviz/imu.rviz"/> -->
</launch>
